* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   color: rgb(228, 255, 228);
   text-align: center;
   max-width: 2800px;
   overflow-y: auto;
}

body {
   background-color: rgba(48, 58, 48, 0.7);
   font-family: Roboto, "Helvetica Neue";
   font-size: 1.4rem;
   line-height: 1.8rem;

}

.wrapper {
   display: grid;
   grid-template-columns: 2fr 1fr;
   margin: 20px 0 20px 0;
}

h1,
h2,
h3 {
   font-weight: 900;
   margin: 2rem 0 2rem 0;
   line-height: 3rem;
}

h1 {
   font-size: 3 rem;
}

h2 {
   font-size: 2.2rem;
   background-color:  rgba(81, 110, 81, 0.449);;
}

h3 {
   font-size: 1.8rem;
   background-color: rgba(124, 210, 124, 0.7);
}



.btn {
   font-size: 2rem;
   padding: 1rem;
   border-radius: 5%;
   color: wheat;
   background-color: rgba(124, 210, 124, 0.7);
   border: 1px solid wheat;
   padding: .5rem .2rem;
   transition: background-color .3s;
}

.btn:hover {
   background-color: blueviolet;
}

/* ** MAIN-estructura ****************************** */

main {
   margin: 0 auto;
   max-width: 1850px;

}

aside {
   background-color: rgba(81, 110, 81, 0.449);
   margin: 0 auto;
   max-width: 525px;

}

body {
   background-color: #858585;
}

/* ** NAV *********************************************  */
nav {
   display: grid;
   grid-template-columns: 200px auto;
   gap: 50px;
   height: 5vh;
   width: 100%;
}

#navbar {
   display: grid;
   grid-template-columns: repeat(4, auto);
   align-self: center;
}

nav .logo {
   align-self: center;
   margin-left: 10px;
}

.logo img {
   width: 150px;
}

nav ul li a {
   text-transform: capitalize;
   font-size: 1.8rem;
}

#navbar a:hover {
   color: rgba(124, 210, 124);
   border-radius: 5px;
}

@media screen and (max-width: 900px) {
   .wrapper {
      grid-template-columns: auto;
      gap: 10px;
   }

   aside,
   main {
      max-width: 98%;
   }

   .hero {
      left: 0px;
      max-width: 98%;
   }
}

/* ** HEADER *************************************  */
header {
   background-image: url("./img/hero.jpg");
   background-size: cover;
   min-height: 60vh;
   margin-bottom: 10px;
   color: rgb(251, 251, 251);
   /* justify-content: center;
text-align: center; */
}

.hero {
   background-color: rgba(81, 110, 81, 0.449);
   padding: 1rem;
   width: 35%;
   text-align: center;
   position: absolute;
   left: 30%;
   top: 10%;
}

.btn-products {
font-weight: bolder;
   position: absolute;
   left: 40%;
   top: 50%;
}

@media screen and (max-width: 1030px) {
   .hero {
      width: 45%;
   }
}

@media screen and (max-width: 750px) {
   .hero {
      left:0;
      top:30%;
      width: 100%;
   }
   .btn-products {
      top:56%;
   }
}

/* ** MAIN **************************************** */

/* ** DESTACADOS ********************************** */

.slider-container {
   display: grid;
   --grid-column-gap: 15px;
   --grid-rows: 1;
   grid-auto-columns: calc((100% - 2 * var(--grid-column-gap))/ 2);
   grid-column-gap: var(--grid-column-gap);
   grid-auto-flow: column;

   overflow-x: auto;
}

.slider-item img {
   width: 100%;
}

@media screen and (min-width: 1200px) {
   .slider-container {
      grid-auto-columns: calc((100% - 3 * var(--grid-column-gap))/ 3);
   }
}

@media screen and (min-width: 2000px) {
   .slider-container {
      grid-auto-columns: calc((100% - 3 * var(--grid-column-gap))/ 4);
   }
}

/* ** PRODUCTS ******************************* */
.products-cards {
   display: grid;
   grid-template-columns: repeat(1, auto);
   justify-content: space-around;
   align-items: center;
}

.card {
   grid-auto-flow: column;
   width: 400px;
   margin: 0px 20px;
   border-radius: 5px;
   transition: 0.3s;
   border: 1px solid rgb(212, 212, 212);
   margin-bottom: 5rem;
}

.card img {
   width: 100%;
   height: 25vh;
   object-fit: cover;
   border-radius: 5px 5px 0 0;
}

.card-body {
   padding: 0px 15px;
}

.card-body p,
button {
   margin: 15px;
}

.btn-comprar {
   font-size: 2rem;
}


@media screen and (min-width: 1370px) {
   .products-cards {
      grid-template-columns: repeat(2, auto);
   }
}

@media screen and (min-width: 1927px) {
   .products-cards {
      grid-template-columns: repeat(3, auto);
   }
}

@media screen and (min-width: 2450px) {
   .products-cards {
      grid-template-columns: repeat(4, auto);
   }
}

@media screen and (max-width: 1370px) {
   .products-cards {
      grid-template-columns: 1fr;
   }

   .card{
      width: 95%;
   }
}

/* ** ASIDE *********************************** */

aside {
   height: auto;
   text-align: center;
   line-height: 2.2rem;
}

aside .imagen img {
   max-width: 450px;
   margin: 2rem 0;
   border-radius: 5px;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.493);
}

@media screen and (min-width: 750px) {
   aside .imagen img{
      max-width: 99%;
   }
}

/* ** CONTACTO - MAIN ************************* */

#contacto {
   background-color: rgba(81, 110, 81, 0.449);
}
.contact-title {
   padding: 20px 0 0 0;
   text-align: center;
}


.contact {
   padding: 30px 0 20px 20px;
   display: grid;
   grid-template-columns: 1fr 2fr;
   justify-content: center;
   align-items: center;
}

@media screen and (max-width: 1200px) {
   .contact {
      grid-template-columns: 1fr;
   }

   .contact-left  {
      margin: 0 auto; 
      padding-bottom: 1rem;
   }
}

.contact-left img {
   width: 100%;
}

/* ** formulario *************************** */

form {
   max-width: 600px;
}

.input-group {
   margin-bottom: 20px;
}

input,
textarea {
   width: 90%;
   padding: 5px;
   background-color: #7c7c7c;
}

@media screen and (min-width: 750px) {
   .contact-right{
      margin: 0 auto;
   }

   form  {
      max-width: 100%;
   }
}

button {
   padding: 5px;
   background-color: blueviolet;
   color: #fff;
   padding: 6px;
   display: inline-block;
   transition: 0.3s;
   border-radius: 5px;
}

button:hover {
   background-color: blueviolet;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.493);
}


/* FOOTER------------------------------------  */

.footer {
   color: wheat;
}

.copyright {
   background-color: black;
   display: grid;
   justify-content: space-around;
   align-items: center;
   margin: 1rem 0 0 0;
   padding: 1rem;
}

.icons {
   margin-top: 20px;
   display: grid;
   grid-auto-flow: column;
/* grid-template-columns: 1fr 1fr 1fr;
justify-content: space-around; */
}

.icons i {
   font-size: 30px;
   margin: 0px 10px;
}